
.header {
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.overlay {
    height: inherit;
    min-height: initial;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.intro-text {
    text-align: center;
    color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.intro-lead-in {
    color: inherit;
    font-size: 120px;
    letter-spacing: 5px;
    font-weight: 100;
    line-height: 1em;
    text-transform: uppercase !important;
    font-family: 'Roboto', helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}

.subtitle {
    font-size: x-large;
    opacity: 0.65;
}

@media (max-width: 568px) {
    .intro-lead-in {
        font-size: 60px;
    }
}