<app-login-skeleton [requiredInfo]="requiredInfo">
    <form>
        <div class="form-group input-field"><input type="email" class="form-control"
                                                   placeholder="Email Address"/></div>
        <div class="form-grou input-field"><input type="tel" class="form-control"
                                                  placeholder="Password"/>
        </div>
        <div class="form-check m-3"><input type="checkbox"
                                           class="form-check-input"
                                           id="formCheck-1"/><label
            class="form-check-label" for="formCheck-1">Keep me logged in</label></div>
        <button class="btn btn-dark btn-block btn-lg text-uppercase">Sign In</button>
    </form>
</app-login-skeleton>