<div class="header">
    <div class="overlay">
        <nav class="navbar navbar-dark navbar-expand-md">
            <div class="container"><a class="navbar-brand" href="#"><img src="../assets/logo.png" id="logoImg"></a>
                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown"><a data-toggle="dropdown" aria-expanded="false"
                                                         class="dropdown-toggle nav-link" href="#">My Account </a>
                            <div role="menu" class="dropdown-menu"><a role="presentation" class="dropdown-item">First
                                Item</a><a role="presentation" class="dropdown-item" href="#">Second Item</a><a
                                role="presentation" class="dropdown-item" href="#">Third Item</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="intro-text">
            <div class="intro-lead-in"><strong>Lorem ipsum dolor sit amet</strong></div>
            <div class="row search-bar">
                <div class="col-10 col-sm-10 col-md-6 col-lg-6 offset-1 offset-sm-1 offset-md-3 offset-lg-3">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="btn btn-link text-success"><i
                                    class="fa fa-search"></i></span>
                            </div>
                            <input type="search" placeholder="What're you searching for?"
                                   class="form-control border-0 bg-light rounded-pill">
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-success btn-xl text-uppercase" role="button">Search</a></div>
    </div>
</div>



