
.header {
    background-image: url('../../assets/header.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.overlay {
    height: inherit;
    min-height: initial;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



.intro-text {
    text-align: center;
    color: white;
    padding-top: 120px;
    padding-bottom: 200px;
}


.intro-lead-in {
    color: inherit;
    font-size: 60px;
}

.search-bar {
    padding: 20px 0 20px 0;
}

.form-control:focus {
    box-shadow: none;
}


