<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 text-left align-self-center">
                <p id="footer-text">Copyright 2015 &copy;. All rights reserved.</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <ul class="social-icons">
                    <li>
                        <a class="fa fa-facebook" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-instagram" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
