<div class="image-box" (click)="navigate()">
  <ngx-picture
    src="{{minifiedData.thumbnail}}"
    alt=""
    [lazyLoad]="true"
    #picture
    class="ngx-picture__picture"
  >
    <ng-template #imgTemplate let-imageData>
      <img class="img-property" [src]="imageData.src" [alt]="imageData.alt"/>
    </ng-template>
  </ngx-picture>
  <div class="banner-mask"></div>
  <div class="caption text-white">
    <h5>{{minifiedData.title}}</h5>
    <p class="subtitle">{{minifiedData.subtitle}}</p>
  </div>
</div>
