<app-default-header [headerInfo]="headerInfo"></app-default-header>
<div class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4" id="about-text">
                <h3 class="display-4">About</h3>
                <p>Japan is truly timeless, a place where ancient traditions are fused with modern life as if it were
                    the most natural thing in the world.</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8" id="about-images">
                <div class="row">
                    <div class="col img-padding" *ngFor="let x of [].constructor(4)">
                        <img src="header.jpg" class="attraction-img">
                    </div>
                </div>
                <div class="row">
                    <div class="col img-padding" *ngFor="let x of [].constructor(4)">
                        <img src="header.jpg" class="attraction-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>