<app-default-header [headerInfo]="headerInfo"></app-default-header>
<div class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4" id="about-text">
                <h3 class="display-4">About</h3>
                <p>{{aboutDescription}}</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8" id="about-images">
                <ng-container *ngFor="let x of [].constructor(rowNumber);let i=index">
                    <div class="row">
                        <div class="col img-padding" *ngFor="let y of [].constructor(4);let j=index">
                            <img src="{{aboutImages[i*rowNumber+j].image}}" class="attraction-img"
                                 alt="{{aboutImages[i*rowNumber+j].alt_text}}"
                                 *ngIf="aboutImages[i*rowNumber+j]!=null">
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>