<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 legal-row">
        <p class="footer-text">Privacy &nbsp;</p>
        <p class="footer-text">Terms & Conditions &nbsp;</p>
        <p class="footer-text">Copyright 2015 &copy;. <a href="#">Traverse Pakistan.</a> All rights reserved.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <ul class="social-icons">
          <li>
            <a href="#">
              <fa-icon [icon]="facebookIcon"></fa-icon>
            </a>
          </li>
          <li>
            <a href="#">
              <fa-icon [icon]="twitterIcon"></fa-icon>
            </a>
          </li>
          <li>
            <a href="#">
              <fa-icon [icon]="instagramIcon"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
