<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div [ngStyle]="{display: isPhone ? '': 'none'}">
    <div class="form-group input-field"><input type="text" class="form-control"
                                               placeholder="Phone Number" formControlName="phoneNumber"
                                               [ngClass]="{'is-invalid': formControl.phoneNumber.errors &&  formControl.phoneNumber.touched}"/>
      <div *ngIf="formControl.phoneNumber.errors &&  formControl.phoneNumber.touched"
           class="invalid-feedback">
        <div *ngIf="formControl.phoneNumber.errors.required">Phone Number is required</div>
      </div>
    </div>
  </div>
  <div [ngStyle]="{display: isPhone ? 'none': ''}">
    <div class="form-group input-field"><input type="email" class="form-control"
                                               placeholder="Email Address" formControlName="email"
                                               [ngClass]="{'is-invalid': formControl.email.errors &&  formControl.email.touched}"/>
      <div *ngIf="formControl.email.errors &&  formControl.email.touched" class="invalid-feedback">
        <div *ngIf="formControl.email.errors.required">Email is required</div>
        <div *ngIf="formControl.email.errors.email">Email address must be a valid</div>
      </div>
    </div>
  </div>
  <div class="form-group input-field"><input type="password" class="form-control"
                                             placeholder="Password" formControlName="password"
                                             [ngClass]="{ 'is-invalid': formControl.password.errors && formControl.password.touched }"/>
    <div *ngIf="formControl.password.errors && formControl.password.touched" class="invalid-feedback">
      <div *ngIf="formControl.password.errors.required">Password is required</div>
      <div *ngIf="formControl.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div (click)="onPhoneClick()" class="alt-signup" [ngStyle]="{display: isPhone ? 'none': ''}">Use phone number
    instead?
  </div>
  <div (click)="onEmailClick()" class="alt-signup" [ngStyle]="{display: isPhone ? '': 'none'}">Use email
    instead?
  </div>
  <button class="btn btn-dark btn-block btn-lg text-uppercase">Sign In</button>
</form>
