.search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding-top: 130px;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 48px;
  width: 40%;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar > fa-icon {
  padding: 0 16px;
  color: #495057;
}

.form-control:focus {
  box-shadow: none;
}

@media (max-width: 768px) {
  .search-header {
    padding-top: 50px;
  }

  .search-bar {
    width: 100%;
    margin: 0 15px;
  }
}
