.blog {
  width: 50%;
  margin: auto;
}

.image > img {
  width: 100% !important;
  height: auto !important;
}

.image > figcaption {
  text-align: center;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  font-weight: 400;
  font-size: 3rem;
}

.blog p {
  line-height: 32px;
  font-size: 21px;
}

.blog > div {
  text-align: center;
}

.blog > div > img {
  width: 100% !important;
  height: auto !important;
}

.comments-section {
  width: 50%;
  margin: auto;
  padding: 16px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.share-button {
  height: fit-content;
}

@media (max-width: 992px) {
  .blog {
    width: 70%;
    margin: auto;
  }

  .comments-section {
    width: 70%;
    margin: auto;
  }

}

@media (max-width: 576px) {
  .blog {
    width: 95%;
    margin: auto;
  }

  .comments-section {
    width: 98%;
    margin: auto;
  }

}

