.blog {
  padding: 30px 0;
}

.image > img {
  width: 100% !important;
  height: auto !important;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6,
.blog p {
  width: 45%;
  margin: auto;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  font-weight: 400;
  font-size: 3rem;
}

.blog p {
  font-size: 18px;
}

.blog div img {
  width: 100% !important;
  height: auto !important;
}


.blog-comments {
  width: 45%;
  margin: auto;
}
.user-comment {
  display: flex;
  flex-direction: row;
  padding: 12px;
}


.account-avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-comment-box {
  transition: all 1000ms ease 0s;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #ddd;
  flex: 1;
}

.add-reply-block {
  padding-left: 48px;
}

.add-comment-section {
  padding: 12px;
}


.add-comment-block {
  display: flex;
  flex-direction: row;
}

.add-comment-box {
  transition: all 1000ms ease 0s;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #ddd;
  flex: 1;
}

.add-comment-input {
  background: transparent;
  border: 0;
  display: block;
  font-size: 16px;
  outline: 0;
  overflow-x: hidden;
  resize: none;
  white-space: pre-wrap;
  width: 100%;
}

.post-comment-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}


@media (max-width: 992px) {
  .blog h1,
  .blog h2,
  .blog h3,
  .blog h4,
  .blog h5,
  .blog h6,
  .blog p {
    width: 65%;
    margin: auto;
  }

  .blog-comments {
    width: 65%;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .blog {
    padding: 30px 85px;
  }
}

@media (max-width: 576px) {
  .blog h1,
  .blog h2,
  .blog h3,
  .blog h4,
  .blog h5,
  .blog h6,
  .blog p {
    width: 98%;
    margin: auto;
  }
  .blog-comments {
    width: 98%;
    margin: auto;
  }
}

