.reset-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  margin-bottom: 20px;
}

.input-field > .form-control {
  height: 50px;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  border-color: #dedede;
}

.input-field > .is-invalid {
  border-color: #dc3545;
}

.form-box {
  padding: 30px;
}

.reset-btn {
  width: 100%;
  margin: 10px 0;
}

.instruction-block {
  padding: 10px 20px;
}
