<div class="reset-box">
  <p *ngIf="hasError" style="color: red">{{ error }}</p>
  <div class="card">
    <div class="form-box">
      <form #form="ngForm" (ngSubmit)="form.form.valid && onSubmit()">
        <div class="input-field form-group"><input type="text" name="email" class="form-control"
                                                   [(ngModel)]="resetEmail" #email="ngModel"
                                                   [ngClass]="{ 'is-invalid': email.invalid && email.touched}" required
                                                   email placeholder="Email Address">
          <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email address must be a valid</div>
          </div>
        </div>
        <button class="btn btn-dark reset-btn text-uppercase" type="submit">Submit</button>
      </form>
      <div class="instruction-block">
        <p *ngIf="hasSubmitted">Please check your email for further instructions!</p>
      </div>
    </div>
  </div>
</div>
