.gallery-section {
  padding: 50px 0 0 0;
}

.caption {
  position: absolute;
  padding: 90px 30px 10px 30px;
  bottom: 0;
  left: 0;
  top: auto;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.75));
}

.back-button {
  position: absolute;
  left: 20px;
  top: 50%;
  cursor: pointer;
  color: white;
  z-index: 1;
}

.next-button {
  position: absolute;
  right: 20px;
  top: 50%;
  cursor: pointer;
  color: white;
  z-index: 1;
}


.item-page-desc > p {
  font-size: 16px;
  line-height: 1.6em;
  opacity: 0.64;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
  filter: alpha(opacity=64);
}

.trip-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.trip-amount-per-person {
  margin: 0;
  font-weight: 200;
  letter-spacing: 0;
  font-size: 18px;
}

.trip-amount-subtitle {
  margin-top: 2px;
  font-size: 12px;
  margin-bottom: 0;
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}

.booking-form-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

.booking-form-fields-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.booking-form-fields-label {
  padding-left: 25px;
  margin-bottom: 0;
}

.dropdown-toggle::after {
  display: none;
}

.booking-form-field-data {
  padding: 0 10px;
  margin-bottom: 0;
}

.dropdown {
  -webkit-appearance: none;
}

.person-quantity-controls {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}

.person-quantity-controls > li {
  float: left;
  margin-left: 7px;
  text-align: center;
  height: 20px;
  line-height: 18px;
  font-weight: bold;
  font-size: 18px;
}

.person-quantity-controls > li > a {
  text-decoration: none !important;
  font-weight: normal;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 18px;
  border-radius: 50%;
  background: #0093d2;
  color: #fff;
  cursor: pointer;
}

.booking-summary-expandable {
  position: relative;
  display: block;
  padding-bottom: 10px;
  color: #6a6a6a !important;
  text-decoration: none !important;
}

.booking-summary-expandable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.booking-summary-expandable > p {
  margin-bottom: 0;
}

.booking-summary-price-list {
  list-style: none;
  margin: 0;
  padding: 0 0 12px;
}

.booking-summary-price-list > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px dashed #e6e6e6;
}

.booking-summary-price-list > li {
  position: relative;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px dashed #e6e6e6;
}


.booking-summary-price-item-title {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 15px;
}

.booking-summary-price-item-price {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
}

.booking-summary-price-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

.booking-summary-price-total > p {
  margin-bottom: 0;
  font-size: 17px;
  text-transform: uppercase;
}

.booking-summary-price-total > h6 {
  margin-bottom: 0;
}
.trip-itinerary-day {
  padding: 16px 0 ;
}

.trip-itinerary-day-details {
  white-space: pre-line;
  list-style: none;
  margin-bottom: 12px;
}



.trip-service {
  /*height: 176px;*/
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 24px 16px;
  border-radius: 6px;
  border: 1px solid #DDDDDD;
}

.trip-service > img {
  margin-bottom: 16px;
  width: auto;
}

.trip-service > h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.service-back-button {
  position: absolute;
  left: -20px;
  top: 40%;
  cursor: pointer;
  z-index: 1;
}

.trip-service > p {
  margin-bottom: 0;
}
.attractions-section {
  padding: 10px 0;
}

.attractions-heading {
  padding: 0 15px 10px 15px;
}

.attraction-image {
  height: 60vh;
  object-fit: cover;

}

@media (min-width: 768px) {
  .container-fluid {
    padding: 16px 85px;
  }

  .gallery-section {
    padding: 100px 85px 0 85px;
  }

  .attractions-section {
    padding: 0 85px;
  }

  .attractions-heading {
    padding: 0 0 10px 0;
  }

  .booking-section {
    position: sticky;
    top: 30px;
  }
}

