<div class="gallery-section">
  <div class="row no-gutters">
    <div class="col position-relative">
      <owl-carousel-o [options]="customOptions" #owl>
        <ng-template carouselSlide *ngFor="let x of tripData.gallery_images">
          <img src="{{x.image}}" class="attraction-image" alt="{{x.alt_text}}">
        </ng-template>
      </owl-carousel-o>
      <ng-container *ngIf="screenWidth < 992">
        <div (click)="owl.next()" class="back-button">
          <fa-icon [icon]="backButton"></fa-icon>
        </div>
        <div (click)="owl.prev()" class="next-button">
          <fa-icon [icon]="nextButton"></fa-icon>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 order-lg-1 pt-5">
      <div class="booking-section">
        <div class="trip-info">
          <div class="trip-amount">
            <h1 class="trip-amount-per-person">Rs.{{pricePerPersonOfDeparture + pricePerPersonOfPackage}} per
              person</h1>
            <p class="trip-amount-subtitle">Including taxes</p>
          </div>
          <h6 class="booking-form-field-data">{{departureDate | date }} - {{arrivalDate | date}}</h6></div>
        <div class="booking-form">
          <div class="booking-form-fields">
            <div class="booking-form-fields-info">
              <fa-icon [icon]="departureIcon"></fa-icon>
              <p class="booking-form-fields-label">Departure</p>
            </div>
            <div class="dropdown booking-form-field-data">
              <a class="dropdown-toggle" type="button" id="departureSelection" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                {{departureName}} via {{departureMethod}}
                <fa-icon [icon]="dropDownButton"></fa-icon>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="departureSelection">
                <ng-container *ngFor="let x of tripData.departures">
                  <a class="dropdown-item"
                     (click)="selectDeparture(x.id, x.location, x.via, x.price_per_person, x.departure_date, x.arrival_date)">
                    {{x.location}} via {{x.via}}</a>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="booking-form-fields">
            <div class="booking-form-fields-info">
              <fa-icon [icon]="departureIcon"></fa-icon>
              <p class="booking-form-fields-label">Package</p>
            </div>
            <div class="dropdown booking-form-field-data">
              <a class="dropdown-toggle" type="button" id="packageSelection" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                {{packageName}}
                <fa-icon [icon]="dropDownButton"></fa-icon>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="packageSelection">
                <ng-container *ngFor="let x of tripData.packages">
                  <a class="dropdown-item" (click)="selectPackage(x.price_per_person)">{{x.title}}</a>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="booking-form-fields">
            <div class="booking-form-fields-info">
              <fa-icon [icon]="userIcon"></fa-icon>
              <p class="booking-form-fields-label">Persons</p></div>
            <ul class="person-quantity-controls">
              <li class="person-quantity-decrement">
                <a (click)="decrementPerson()">-</a>
              </li>
              <li class="person-current-quantity">{{noOfPersons}}</li>
              <li class="person-quantity-increment">
                <a (click)="incrementPerson()">+</a>
              </li>
            </ul>
          </div>
          <div class="booking-summary-price">
            <a class="booking-summary-expandable" href="#summaryPriceCollapse" data-toggle="collapse"
               aria-expanded="false" aria-controls="summaryPriceCollapse"><p>Show summary</p>
              <fa-icon [icon]="expandButton"></fa-icon>
            </a>
            <div class="collapse" id="summaryPriceCollapse">
              <ul class="booking-summary-price-list">
                <li class="booking-summary-price-item">
                  <h5 class="booking-summary-price-item-title">{{noOfPersons}} Persons</h5>
                  <p class="booking-summary-price-item-price">
                    Rs. {{noOfPersons * (pricePerPersonOfDeparture + pricePerPersonOfPackage)}}</p>
                </li>
                <li class="booking-summary-price-item">
                  <h5 class="booking-summary-price-item-title">Service fee</h5>
                  <p class="booking-summary-price-item-price">Rs. 10.0</p>
                </li>
              </ul>
            </div>
            <div class="booking-summary-price-total"><p>Total</p>
              <h6>Rs. {{noOfPersons * (pricePerPersonOfDeparture + pricePerPersonOfPackage)}}</h6>
            </div>
          </div>
          <button class="btn btn-dark btn-block">Book Now</button>
        </div>
      </div>
    </div>
    <div class="col-lg-8 pt-5">
      <div class="itinerary-section">
        <h5 class="services-heading">Pre-Itinerary</h5>
        <div class="trip-itinerary">
          <ul>
            <li><h6>Day 1</h6>
              <ul>
                <li>
                  <p>This Manhattan hotel is located across the street from Madison Square Garden and Penn Station.
                    The
                    hotel
                    offers access to the adjacent fitness club which includes a gym and a tour desk with ticket
                    services.</p></li>
              </ul>
            </li>
            <li><h6>Day 2</h6>
              <ul>
                <li>
                  <p>This Manhattan hotel is located across the street from Madison Square Garden and Penn Station.
                    The
                    hotel
                    offers access to the adjacent fitness club which includes a gym and a tour desk with ticket
                    services.</p></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="itinerary-section">
        <h5 class="services-heading">Itinerary</h5>
        <div class="trip-itinerary">
          <ul>
            <ng-container *ngFor="let x of tripData.itinerary_days">
              <li class="trip-itinerary-day"><h6>{{x.date | date}}</h6>
                <ul>
                  <li class="trip-itinerary-day-details">
                    {{x.body}}
                  </li>
                  <div class="trip-services-section">
                    <ng-container *ngFor="let y of x.trip_service_values">
                      <div class="trip-service">
                        <img src="favicon.ico" alt="">
                        <h6>{{y.trip_service.title}}</h6>
                        <p>{{y.value}}</p>
                      </div>
                    </ng-container>
                  </div>
                </ul>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="itinerary-section">
        <h5 class="services-heading">Post-Itinerary</h5>
        <div class="trip-itinerary">
          <ul>
            <li><h6>Day 1</h6>
              <ul>
                <li>
                  <p>This Manhattan hotel is located across the street from Madison Square Garden and Penn Station.
                    The
                    hotel
                    offers access to the adjacent fitness club which includes a gym and a tour desk with ticket
                    services.</p></li>
              </ul>
            </li>
            <li><h6>Day 2</h6>
              <ul>
                <li>
                  <p>This Manhattan hotel is located across the street from Madison Square Garden and Penn Station.
                    The
                    hotel
                    offers access to the adjacent fitness club which includes a gym and a tour desk with ticket
                    services.</p></li>
              </ul>
            </li>
            <li><h6>Day 3</h6>
              <ul>
                <li>
                  <p>This Manhattan hotel is located across the street from Madison Square Garden and Penn Station.
                    The
                    hotel
                    offers access to the adjacent fitness club which includes a gym and a tour desk with ticket
                    services.</p></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="overview-section">
        <h5 class="overview-heading">Overview</h5>
        <div class="trip-desc">
          {{tripData.overview}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="attractions-section">
  <h5 class="attractions-heading">Attractions</h5>
  <div class="row no-gutters">
    <div class="col position-relative" style="cursor: pointer">
      <owl-carousel-o [options]="customOptions" #owlAttractions>
        <ng-template carouselSlide *ngFor="let x of tripData.attractions">
          <div class="attraction-block" (click)="navigate(x.slug)">
            <img src="{{x.thumbnail}}" class="attraction-image" alt="{{x.title}}">
            <div class="caption text-white">
              <h6>{{x.title}}</h6>
              <p id="subtitle">{{x.subtitle}}</p>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
      <ng-container *ngIf="screenWidth < 992">
        <div (click)="owlAttractions.next()" class="back-button">
          <fa-icon [icon]="backButton"></fa-icon>
        </div>
        <div (click)="owlAttractions.prev()" class="next-button">
          <fa-icon [icon]="nextButton"></fa-icon>
        </div>
      </ng-container>
    </div>
  </div>
</div>
