.blog-section {
  background-color: black;
  padding-bottom: 80px;
  margin-top: 54px;
}

.info-section {
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  margin-right: 0;
}

.col {
  padding-right: 0;
}

.blog-box {
  border-radius: 6px;
  cursor: pointer;
}

.blog-thumbnail {
  object-fit: cover;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.blog-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 11vh;
  background-color: #222222;
  padding: 0 16px;
  border-radius: 0 0 6px 6px;
}

.blog-info > p {
  margin-bottom: 0;
}

#first-image {
  height: 74vh;
}

#second-image {
  height: 30vh;
}

#third-image {
  height: 30vh;
}

#fourth-image {
  height: 30vh;
}

.spacing {
  padding-top: 3vh;
}


@media (max-width: 992px) {
  #third-blog {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .container-fluid {
    padding: 4px 110px;
  }

}

@media (max-width: 768px) {
  .container {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .blog-thumbnail {
    height: 40vh;
  }

  .web {
    display: none;
  }
}
