#pre-button {
    position: absolute;
    top: 50%;
    left: -20px;
    cursor: pointer;
}

#next-button{
    position: absolute;
    top: 50%;
    right: -20px;
    cursor: pointer;
}

@media (max-width: 568px) {
    #next-button, #pre-button {
        display: none;
    }
}