<div class="container p-1">
    <div class="p-5">
        <h3 class="text-center">Popular Blogs</h3>
        <h6 class="text-center text-muted">Lorem Ipsum Gysum</h6>
    </div>
    <div class="position-relative">
        <div (click)="owl.prev()" id="pre-button"><i class="fa fa-angle-left"></i></div>
        <owl-carousel-o [options]="customOptions" #owl>
            <ng-template carouselSlide *ngFor="let x of blogs">
                <div class="p-2">
                    <app-destination-image [path]="'blog'"></app-destination-image>
                </div>
            </ng-template>
        </owl-carousel-o>
        <div (click)="owl.next()" id="next-button"><i class="fa fa-angle-right"></i></div>
    </div>
</div>