<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-lg-3 d-flex flex-column justify-content-center" id="places-text">
            <h1 class="display-4">Places</h1>
            <p id="places-subtitle">Explore {{attractionsInfo.title}}&#39;s most visited attractions</p>
        </div>
        <div class="col-lg-9 position-relative">
            <owl-carousel-o [options]="customOptions" #owl>
                <ng-template carouselSlide *ngFor="let x of attractionsInfo.attractions">
                    <h5>{{x.name}}</h5>
                    <p>{{x.subtitle}}</p>
                </ng-template>
            </owl-carousel-o>
            <div (click)="owl.next()" id="next-button"
                 [ngStyle]="{display: attractionsInfo.attractions.length > 2 ? '':'none'}">
                <i class="fa fa-angle-left"></i></div>
        </div>
    </div>
</div>
