.blog-comments {
  width: 50%;
  margin: auto;
}

.user-comment {
  display: flex;
  flex-direction: row;
  padding: 12px;
}


.account-avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-comment-box {
  flex: 1;
  transition: all 1000ms ease 0s;
}

.user-comment-field {
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #ddd;
}

.comment-body {
  margin-bottom: 0;
}

.comment-actions {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.comment-action-icon {
  color: grey;
  padding: 0 8px;
  transition: 0.3s;
}

.comment-action-icon > fa-icon {
  cursor: pointer;
}

.comment-action-icon > fa-icon:hover {
  color: black;
}

.add-reply-block {
  padding-left: 48px;
}

.add-comment-section {
  padding: 12px;
}


.add-comment-block {
  display: flex;
  flex-direction: row;
}

.add-comment-box {
  transition: all 1000ms ease 0s;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #ddd;
  flex: 1;
}

.add-comment-input {
  background: transparent;
  border: 0;
  display: block;
  font-size: 16px;
  outline: 0;
  overflow-x: hidden;
  resize: none;
  white-space: pre-wrap;
  width: 100%;
}

.post-comment-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}


@media (max-width: 992px) {
  .blog-comments {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 576px) {

  .blog-comments {
    width: 98%;
    margin: auto;
  }
}

