<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-2" id="about-text">
            <h3 class="display-4">About</h3>
            <p style="font-size: 20px;">In the far North of Pakistan , lies a mystic and cultural land known as
                Hunza. Being a home to the hospitality and harmony Hunza welcomes all the tourist and
                mountaineers.As soon as you are in the valley you can feel the freshness
                inside you which you neer felt before.Its culture is purely based on humanity and common effort of
                the locals to preserve the nature and history which kept their culture alive and fresh till day .
                Home to some of the world&#39;s greatest Karakoram Peaks , Meadows , Lakes, Glaciers, Treks, Silk
                road, and Architectures , Hunza elates, inspires and reset your mind and body with the nature like
                no other.  the locals to preserve the nature and history which kept their culture alive and fresh till day .
                Home to some of the world&#39;s</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <img class="img-fluid" src="header.jpg" alt=""/>
        </div>
    </div>
</div>
