<div class="container p-3">
    <div class="p-5">
        <h3 class="text-center">{{titleInfo.title}}</h3>
        <h6 class="text-center text-muted">{{titleInfo.subtitle}}</h6>
    </div>
</div>
<div class="container">
    <div class="row row-image" *ngFor="let x of [].constructor(rowNumber); let i=index">
        <div class="col-sm-12 col-lg-4 col-image p-2" *ngFor="let y of [].constructor(3); let j=index">
            <app-image-box [minifiedData]="dataList[i*3+j]" [path]="'/destination'"
                           *ngIf="dataList[i*3+j]!=null"></app-image-box>
        </div>
    </div>
</div>