<h1 class="account-page-title">Booking History</h1>
<div class="account-history">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="theme-account-history-type">
        <i class="fa fa-plane theme-account-history-type-icon"></i>
      </td>
      <td>
        <p class="account-history-type-title">Jolie petit studio Paris 11</p>
        <a class="account-history-item-name" href="#">Vacation rental</a>
      </td>
      <td>
        <a href="#">Paris, France</a>
      </td>
      <td class="account-history-tr-date">
        <p class="account-history-date">Sep 23, 2017 — Sep 25, 2017</p>
      </td>
      <td>
        <p class="account-history-item-price">$318.30</p>
      </td>
    </tr>
    <tr>
      <td class="theme-account-history-type">
        <i class="fa fa-plane theme-account-history-type-icon"></i>
      </td>
      <td>
        <p class="account-history-type-title">London → New York</p>
        <a class="account-history-item-name" href="#">Round trip flight</a>
      </td>
      <td>
        <a href="#"></a>
      </td>
      <td class="theme-account-history-tr-date">
        <p class="account-history-date">Sep 20, 2017 — Sep 27, 2017</p>
      </td>
      <td>
        <p class="account-history-item-price">$188.11</p>
      </td>
    </tr>
    <tr>
      <td class="theme-account-history-type">
        <i class="fa fa-bed theme-account-history-type-icon"></i>
      </td>
      <td>
        <p class="account-history-type-title">Refinery Hotel</p>
        <a class="account-history-item-name" href="#">Hotel room</a>
      </td>
      <td>
        <a href="#">New York, USA</a>
      </td>
      <td class="theme-account-history-tr-date">
        <p class="account-history-date">Aug 16, 2017 — Aug 17, 2017</p>
      </td>
      <td>
        <p class="account-history-item-price">$303.64</p>
      </td>
    </tr>
    <tr>
      <td class="theme-account-history-type">
        <i class="fa fa-car theme-account-history-type-icon"></i>
      </td>
      <td>
        <p class="account-history-type-title">Chevrolet Cruze</p>
        <a class="account-history-item-name" href="#">Rental car</a>
      </td>
      <td>
        <a href="#">New York, USA</a>
      </td>
      <td class="theme-account-history-tr-date">
        <p class="account-history-date">Aug 16, 2017 — Aug 19, 2017</p>
      </td>
      <td>
        <p class="account-history-item-price">$374.36</p>
      </td>
    </tr>
    <tr>
      <td class="theme-account-history-type">
        <i class="fa fa-glass theme-account-history-type-icon"></i>
      </td>
      <td>
        <p class="account-history-type-title">See London By Night Bus Tour</p>
        <a class="account-history-item-name" href="#">Experience</a>
      </td>
      <td>
        <a href="#">London, United Kindom</a>
      </td>
      <td class="theme-account-history-tr-date">
        <p class="account-history-date">Aug 13, 2017</p>
      </td>
      <td>
        <p class="account-history-item-price">$250.42</p>
      </td>
    </tr>
    <tr>
      <td class="theme-account-history-type">
        <i class="fa fa-home theme-account-history-type-icon"></i>
      </td>
      <td>
        <p class="account-history-type-title">Jolie petit studio Paris 11</p>
        <a class="account-history-item-name" href="#">Vacation rental</a>
      </td>
      <td>
        <a href="#">Paris, France</a>
      </td>
      <td class="theme-account-history-tr-date">
        <p class="account-history-date">Jul 9, 2017 — Jul 11, 2017</p>
      </td>
      <td>
        <p class="account-history-item-price">$299.11</p>
      </td>
    </tr>
    <tr>
      <td class="theme-account-history-type">
        <i class="fa fa-plane theme-account-history-type-icon"></i>
      </td>
      <td>
        <p class="account-history-type-title">London → New York</p>
        <a class="account-history-item-name" href="#">Round trip flight</a>
      </td>
      <td>
        <a href="#"></a>
      </td>
      <td class="theme-account-history-tr-date">
        <p class="account-history-date">Jul 8, 2017 — Jul 13, 2017</p>
      </td>
      <td>
        <p class="account-history-item-price">$462.72</p>
      </td>
    </tr>
    <tr>
      <td class="theme-account-history-type">
        <i class="fa fa-bed theme-account-history-type-icon"></i>
      </td>
      <td>
        <p class="account-history-type-title">Refinery Hotel</p>
        <a class="account-history-item-name" href="#">Hotel room</a>
      </td>
      <td>
        <a href="#">New York, USA</a>
      </td>
      <td class="theme-account-history-tr-date">
        <p class="account-history-date">Jul 3, 2017 — Jul 7, 2017</p>
      </td>
      <td>
        <p class="account-history-item-price">$418.57</p>
      </td>
    </tr>
    <tr>
      <td class="theme-account-history-type">
        <i class="fa fa-car theme-account-history-type-icon"></i>
      </td>
      <td>
        <p class="account-history-type-title">Chevrolet Cruze</p>
        <a class="account-history-item-name" href="#">Rental car</a>
      </td>
      <td>
        <a href="#">New York, USA</a>
      </td>
      <td class="theme-account-history-tr-date">
        <p class="account-history-date">Jul 2, 2017 — Jul 11, 2017</p>
      </td>
      <td>
        <p class="account-history-item-price">$268.29</p>
      </td>
    </tr>
    <tr>
      <td class="theme-account-history-type">
        <i class="fa fa-glass theme-account-history-type-icon"></i>
      </td>
      <td>
        <p class="account-history-type-title">See London By Night Bus Tour</p>
        <a class="account-history-item-name" href="#">Experience</a>
      </td>
      <td>
        <a href="#">London, United Kindom</a>
      </td>
      <td class="theme-account-history-tr-date">
        <p class="account-history-date">Jun 15, 2017</p>
      </td>
      <td>
        <p class="account-history-item-price">$348.73</p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
