<h1 class="account-page-title">Booking History</h1>
<div class="account-history">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Departure</th>
      <th>Date</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let booking of tripBookings">
      <tr (click)="navigateToBooking(booking.id)" style="cursor: pointer">
        <td class="theme-account-history-type">
          <i class="fa fa-plane theme-account-history-type-icon"></i>
        </td>
        <td>
          <p class="account-history-type-title">{{booking.trip.title}}</p>
          <a class="account-history-item-name" (click)="navigateToTrip(booking.trip.slug, $event)">View Trip</a>
        </td>
        <td>
          <p>{{booking.departure.location}} via {{booking.departure.via}}</p>
        </td>
        <td class="account-history-tr-date">
          <p class="account-history-date">{{booking.departure.departure_date | date}}
            — {{booking.departure.arrival_date | date}}</p>
        </td>
        <td>
          <p class="account-history-item-price">Rs. {{booking.total_price}}</p>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
