.container-fluid {
    padding: 0 0;
    overflow-x: hidden;
}

#places-subtitle {
    font-size: 20px;
}

.display-4 {
    font-size: 50px;
}

#gallery-text{
    padding: 60px;
}

.img-container {
    width: 100%;
    height: 145px;
    overflow: hidden;
    position: relative;
}

.gallery-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.description-container {
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    color: #fff;
    opacity: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}


.description {
    transition: .2s;
    transform: translateY(1em);
}



@media (max-width: 568px) {
    .img-container {
        width: 100%;
        height: 78px;
        overflow: hidden;
    }
    .gallery-img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
}

@media not all and (pointer: coarse) {
    .img-container:hover .description {
        transform: translateY(0);
    }

    .img-container:hover .description-container {
        opacity: 0.8;
    }

}