<div class="container-fluid">
    <div class="row">
        <div
            class="col-sm-12 col-md-12 col-lg-4 col-xl-4 order-lg-2 d-flex flex-column justify-content-center"
            id="gallery-text">
            <h1 class="display-4">Photos</h1>
            <p id="places-subtitle">Feel the serenity of {{galleryInfo.title}}</p>
        </div>
        <div class="col">
            <ng-container *ngFor="let x of [].constructor(items.length / 5); let i=index">
                <div class="row">
                    <div class="col p-0 img-container" *ngFor="let y of [].constructor(5);let j = index" [lightbox]="i*5+j">
                        <img class="gallery-img" [src]="items[i*5 + j].data.src" alt="{{galleryInfo.images[i*5+j].alt_text}}"/>
                        <div class="description-container">
                            <p class="description">{{galleryInfo.images[i*5+j].alt_text}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div>
            </div>
        </div>
    </div>
</div>
