<div class="container-fluid">
    <div class="p-5">
        <h3 class="text-center">Popular Destinations</h3>
        <h6 class="text-center text-muted">Most Visited Locations of Last Year</h6>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 p-2" [ngClass]="classes[i]"
             *ngFor="let x of [].constructor(5);let i = index">
            <app-image-box [path]="'/destination'" [minifiedData]="minifiedDestinationData[i]">
            </app-image-box>
        </div>
    </div>
</div>
