<div class="container p-3">
    <div class="p-5">
        <h3 class="text-center">Popular Destinations</h3>
        <h6 class="text-center text-muted">Most Visited Locations of Last Year</h6>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 p-2">
            <app-destination-image [path]="'place'"></app-destination-image>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 p-2">
            <app-destination-image [path]="'place'"></app-destination-image>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2">
            <app-destination-image [path]="'place'"></app-destination-image>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2">
            <app-destination-image [path]="'place'"></app-destination-image>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2">
            <app-destination-image [path]="'place'"></app-destination-image>
        </div>
    </div>
</div>
