<h1 class="account-page-title">Your Blogs</h1>
<div class="row">
  <ng-container *ngFor="let i of blogsArray">
    <div class="col-md-4">
      <div class="blog-image-box">
        <img src="{{i.thumbnail}}" class="blog-add-image" alt="">
        <div class="blog-image-mask">
          <ul class="blog-image-actions">
            <li>
              <a (click)="previewBlog(i.slug)">
                <fa-icon [icon]="previewIcon"></fa-icon>
                Preview
              </a>
            </li>
            <li>
              <a (click)="editBlog(i)">
                <fa-icon [icon]="editIcon"></fa-icon>
                Edit
              </a>
            </li>
            <li>
              <a (click)="deleteBlog()">
                <fa-icon [icon]="deleteIcon"></fa-icon>
                Delete
              </a>
            </li>
          </ul>
          <div class="blog-status"><p>{{i.is_published ? 'Published' : 'Unpublished'}}</p></div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="col-md-4">
    <div class="blog-add-card">
      <a class="blog-add-card-mask-link" routerLink="/add-blog"></a>
      <p class="blog-add-card-new-title">+ Add New Blog</p>
    </div>
  </div>
</div>
