<nav class="navbar navbar-dark navbar-expand-md" id="nav-property">
    <div class="container"><a class="navbar-brand" href="#"><img src="assets/logo.png" id="logoImg" alt=""></a>
        <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" href="#">
                        My Account
                    </a>
                    <div role="menu" class="dropdown-menu">
                        <a role="presentation" class="dropdown-item" href="#">First Item</a>
                        <a role="presentation" class="dropdown-item" href="#">Second Item</a>
                        <a role="presentation" class="dropdown-item" href="#">Third Item</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
