
#logoImg {
    width: 80px;
}

.navbar-toggler {
    border: none;
    outline: none;
}
#nav-property {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

@media (max-width: 992px) {
    #nav-property {
        background-color: #333;
        position: relative;
    }

    .dropdown-menu {
        background-color: #333333;
        border: none;
    }

    .dropdown-menu > a {
        color: #777;
    }
}

@media (min-width: 768px) {
  .container-fluid {
    padding: 0 80px;
  }
  #nav-property {
    padding: .5rem 0;
  }
}
