header {
    position: relative;
    /*background-color: black;*/
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background: no-repeat center center fixed;
    background-size: cover;
}

header > video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}

header > .container-fluid {
    position: relative;
    z-index: 2;
}

header > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.search-container {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-control:focus {
    box-shadow: none;
}
