
header {
    position: relative;
    /*background-color: black;*/
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background: no-repeat center center fixed;
    background-size: cover;
}

header > video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}

header > .container-fluid {
    position: relative;
    z-index: 2;
}

header > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.intro-box {
    text-align: center;
    padding-bottom: 80px;
}

.intro-lead-in {
    color: white;
    font-size: 55px;
    font-family: 'Roboto', helvetica, Arial, sans-serif;
}

.search-bar {
    padding: 20px;
}

.form-control:focus {
    box-shadow: none;
}


/*@media (max-width: 992px) {*/
/*    header {*/
/*        background: url('../../../assets/header.jpg') no-repeat center center;*/
/*    }*/
/*    header video {*/
/*        display: none;*/
/*    }*/
/*}*/
