<app-small-header [headerInfo]="headerInfo"></app-small-header>
<div class="container-fluid">
  <div class="p-5">
    <h3 class="text-center">All Trips</h3>
    <h6 class="text-center text-muted">Lorem Ispum Gypsum</h6>
  </div>
</div>
<div class="container-fluid">
  <div class="row row-image" *ngFor="let x of [].constructor(totalRows); let i=index">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2" *ngFor="let y of [].constructor(3); let j=index">
      <app-trip-box [minifiedTrip]="minifiedTrips[i*3+j]"
                    *ngIf="minifiedTrips[i*3+j]!=null"></app-trip-box>
    </div>
  </div>
</div>

