<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="payment-success">
        <div class="payment-success-header">
          <i class="fa fa-check-circle theme-payment-success-header-icon"></i>
          <h1 class="payment-success-title">Booking Successful</h1>
          <p class="payment-success-subtitle">We have emailed you the receipt.</p>
        </div>
        <div class="payment-success-box">
          <ul class="payment-success-summary">
            <li>Trip
              <span>{{bookedTrip.trip.title}}</span>
            </li>
            <li>Departure Date
              <span>{{bookedTrip.departure.departure_date | date: 'medium'}}</span>
            </li>
            <li>Arrival Date
              <span>{{bookedTrip.departure.arrival_date | date: 'medium'}}</span>
            </li>
            <li>Departure
              <span>{{bookedTrip.departure.location}} via {{bookedTrip.departure.via}}</span>
            </li>
            <li>Package
              <span>{{bookedTrip.package.title}}</span>
            </li>
            <li>Persons
              <span>{{bookedTrip.number_of_persons + bookedTrip.number_of_children}}</span>
            </li>
            <li>Total Amount
              <span>Rs. {{bookedTrip.total_price}}</span>
            </li>
          </ul>
          <p class="payment-success-check-order">You can check your booking in your
            <a routerLink="/profile/booking-history">profile page</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
