<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="payment-success">
        <div class="payment-success-header">
          <i class="fa fa-check-circle theme-payment-success-header-icon"></i>
          <h1 class="payment-success-title">Payment Successful</h1>
          <p class="payment-success-subtitle">We have emailed you the receipt.</p>
        </div>
        <div class="payment-success-box">
          <ul class="payment-success-summary">
            <li>Payment ID
              <span>#7249874</span>
            </li>
            <li>Date
              <span>9/25/2017 12:24pm</span>
            </li>
            <li>Customer
              <span>John Doe</span>
            </li>
            <li>Paid to
              <span>Bookify group inc.</span>
            </li>
            <li>Payment method
              <span>Visa credit card</span>
            </li>
            <li>Subject
              <span>Vacation Rental</span>
            </li>
            <li>Amount paid
              <span>$753.85</span>
            </li>
          </ul>
          <p class="payment-success-check-order">You can check your order details in your
            <a href="account-history.html">profile page</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
