.image-box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.img-property {
    height: 40vh;
    width: 100%;
    transition: all 1.0s;
    filter: brightness(0.7);
    object-fit: cover;
}

.caption {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#subtitle {
    opacity: 0.66;
}

@media not all and (pointer: coarse) {
    .image-box:hover > img {
        transform: scale(1.2);
        filter: brightness(0.4);
    }

}