<div class="trip-card" (click)="navigate()">
  <div class="trip-details">
    <div class="trip-info">
      <div class="trip-title">{{minifiedTrip.title}}</div>
      <ng-container *ngFor="let x of minifiedTrip.services; let last=last">
        <h6 class="trip-services">{{x}}<span *ngIf="!last">,&nbsp;</span></h6>
      </ng-container>
      <p class="trip-overview-heading">What we'll do:</p>
      <p class="trip-overview-content">{{minifiedTrip.overview}}</p>
      <h6 class="trip-price">From Rs.{{minifiedTrip.price_per_person}}/person</h6>
    </div>
    <div class="trip-images">
      <div class="trip-images-one" [ngStyle]="{'background-image': 'url('+ minifiedTrip.gallery_images[0].image +')'}">
      </div>
      <div class="trip-images-two" [ngStyle]="{'background-image': 'url(' + minifiedTrip.gallery_images[1].image +')'}">
      </div>
      <div class="trip-images-three"
           [ngStyle]="{'background-image': 'url(' + minifiedTrip.gallery_images[2].image+')'}">
      </div>
    </div>
  </div>
  <hr>
</div>
