<div class="page-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="account-avatar">
          <img class="account-avatar-img" src="{{!!user.profile_image ? user.profile_image : 'assets/avatar.png'}}"
               alt="text"
               (click)="avatarUpload.click()"
          >
          <input type='file' (change)="onSelectFile($event)" #avatarUpload style="display: none"
                 class="account-avatar-input">
          <p class="account-avatar-name">Welcome,
            <br>{{user.name}}
          </p>
        </div>
        <div class="account-nav">
          <ul class="account-nav-list">
            <li routerLinkActive="active">
              <a routerLink="your-blogs">
                <fa-icon [icon]="blogIcon"></fa-icon>
                Your Blogs
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="preferences">
                <fa-icon [icon]="preferencesIcon"></fa-icon>
                Preferences
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="booking-history">
                <fa-icon [icon]="historyIcon"></fa-icon>
                Booking History
              </a>
            </li>
            <li (click)="logout()">
              <a>
                <fa-icon [icon]="logoutIcon"></fa-icon>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
