<div class="container-fluid">
    <div class="row">
        <div
            class="col-sm-12 col-md-12 col-lg-4 col-xl-4 order-lg-2 d-flex flex-column justify-content-center"
            id="gallery-text">
            <h1 class="display-4">Photos</h1>
            <p id="places-subtitle">Feel the serenity of Hunza</p>
        </div>
        <div class="col">
            <div>
                <div class="row">
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col p-0">
                            <app-gallery-image></app-gallery-image>
                        </div>
                        <div class="col p-0">
                            <app-gallery-image></app-gallery-image>
                        </div>
                        <div class="col p-0">
                            <app-gallery-image></app-gallery-image>
                        </div>
                        <div class="col p-0">
                            <app-gallery-image></app-gallery-image>
                        </div>
                        <div class="col p-0">
                            <app-gallery-image></app-gallery-image>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
