<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 order-lg-2">
            <div class="d-flex flex-column justify-content-center align-items-start">
                <h1 class="display-4">Places</h1>
                <p id="places-subtitle">Explore Hunza&#39;s most visited attractions</p>
            </div>
        </div>
        <div class="col">
            <div>
                <div class="row">
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
            </div>
            <div>
                <div class="row">
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                    <div class="col p-0">
                        <app-gallery-image></app-gallery-image>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
