<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="booking-title">Confirm and Pay!</div>
      <div class="booking-subtitle">Your Trip</div>
      <div>
        <div class="booking-subtitle">Date</div>
        <p
          class="booking-date">{{utilityService.departureFinder(passedTripData.trip.departures, passedTripData.departureId).departure_date | date: 'medium'}}
          - {{utilityService.departureFinder(passedTripData.trip.departures, passedTripData.departureId).arrival_date | date:'medium'}}</p>
      </div>
      <div class="booking-subtitle">Guests</div>
      <div class="booking-form-fields" id="dropdownMenuButton" data-toggle="dropdown">
        <div class="booking-form-fields-info">Persons</div>
        <div class="person-quantity-controls">
          <div class="person-current-quantity">{{noOfAdults + noOfChildren}}</div>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
            <div class="d-flex justify-content-between align-items-center p-2">
              <div class="person-quantity-calculator-label">Adults</div>
              <div class="d-flex align-items-center">
                <div class="person-quantity-calculator" (click)="decrementAdults($event)">
                  <fa-icon [icon]="minusIcon"></fa-icon>
                </div>
                <div class="person-current-quantity">{{noOfAdults}}</div>
                <div class="person-quantity-calculator" (click)="incrementAdults($event)">
                  <fa-icon [icon]="plusIcon"></fa-icon>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center p-2">
              <div class="person-quantity-calculator-label">Children</div>
              <div class="d-flex align-items-center">
                <div class="person-quantity-calculator" (click)="decrementChildren($event)">
                  <fa-icon [icon]="minusIcon"></fa-icon>
                </div>
                <div class="person-current-quantity">{{noOfChildren}}</div>
                <div class="person-quantity-calculator" (click)="incrementChildren($event)">
                  <fa-icon [icon]="plusIcon"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="bookingForm">
        <div class="d-flex">
          <div class="mr-2">
            <input type="text" class="form-control " placeholder="Full Name" formControlName="name"
                   [ngClass]="{'is-invalid': formControl.name.errors &&  formControl.name.touched}">
            <div *ngIf="formControl.name.errors &&  formControl.name.touched"
                 class="invalid-feedback">
              <div *ngIf="formControl.name.errors.required">Name is required</div>
            </div>
          </div>
          <div class="mr-2">
            <input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNumber"
                   [ngClass]="{'is-invalid': formControl.phoneNumber.errors &&  formControl.phoneNumber.touched}">
            <div *ngIf="formControl.phoneNumber.errors &&  formControl.phoneNumber.touched"
                 class="invalid-feedback">
              <div *ngIf="formControl.phoneNumber.errors.required">Phone Number is required</div>
            </div>
          </div>
          <div>
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
          </div>
        </div>
      </form>
      <div class="divider mt-5"></div>
      <div class="booking-subtitle">Pay With</div>
      <div class="booking-form-fields">
        <div class="booking-form-fields-info">Not Available Now</div>
      </div>
      <button class="btn btn-lg btn-block btn-dark" (click)="createTripBooking(signupModal)">Book Now</button>
    </div>
    <div class="offset-1 col-5">
      <div class="booking-trip-details-section">
        <div class="booking-trip-details">
          <div class="booking-trip-details-img">
            <img src="{{passedTripData.trip.gallery_images[0].image}}"
                 alt="{{passedTripData.trip.gallery_images[0].alt_text}}">
          </div>
          <div class="booking-trip-details-info">
            <div
              class="booking-trip-details-info-subtitle">{{utilityService.packageFinder(passedTripData.trip.packages, passedTripData.packageId).title}}</div>
            <div class="booking-trip-details-info-title">{{passedTripData.trip.title}}</div>
            <div
              class="booking-trip-details-info-subtitle">{{utilityService.departureFinder(passedTripData.trip.departures, passedTripData.departureId).location}}
              via {{utilityService.departureFinder(passedTripData.trip.departures, passedTripData.departureId).via}}</div>
          </div>
        </div>
        <div class="divider mt-5"></div>
        <div class="booking-trip-details-price">
          <div class="booking-trip-details-price-title">Price Details</div>
          <div class="booking-trip-details-price-subtitle">
            <div>{{basePrice}} x {{noOfAdults}} Adult</div>
            <div>{{basePrice * noOfAdults}}</div>
          </div>
          <div class="booking-trip-details-price-subtitle">
            <div>{{(basePrice / 2)}} x {{noOfChildren}} Children</div>
            <div>{{(basePrice / 2) * noOfChildren}}</div>
          </div>
          <div class="booking-trip-details-price-total">
            <div>TOTAL(PKR)</div>
            <div>{{totalPrice}}</div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="booking-trip-details-cancellation">
          <div class="booking-trip-details-cancellation-title">CANCELLATION POLICY</div>
          <div class="booking-trip-details-cancellation-subtitle">
            <div>Any experience can be canceled and fully refunded within 24 hours of purchase.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<modal #signupModal>
  <ng-template #modalHeader><h4>Sign Up</h4></ng-template>
  <ng-template #modalBody>
    <div class="form-box">
      <app-signup-form></app-signup-form>
      <div class="social-separator">or continue with social media</div>
      <app-social-auth></app-social-auth>
    </div>
    <div class="alt-block d-flex justify-content-between">
      <p>{{signUpInfo.altText}} have an account? <a
        (click)="openSigninModal(signinModal, signupModal)">{{signUpInfo.keyWord}}</a></p>
    </div>
  </ng-template>
</modal>
<modal #signinModal>
  <ng-template #modalHeader><h4>Sign In</h4></ng-template>
  <ng-template #modalBody>
    <div class="form-box">
      <app-login-form></app-login-form>
      <div class="social-separator">or continue with social media</div>
      <app-social-auth></app-social-auth>
    </div>
    <div class="alt-block d-flex justify-content-between">
      <p>{{signInInfo.altText}} have an account? <a
        (click)="openSignUpModal(signupModal, signupModal)">{{signInInfo.keyWord}}</a></p>
    </div>
  </ng-template>
</modal>
