.input-field {
  margin-bottom: 20px;
}

.input-field > .form-control {
  height: 50px;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  border-color: #dedede;
}

.input-field > .is-invalid {
  border-color: #dc3545;
}

.alt-signup {
  color: #007bff;
  cursor: pointer;
  padding-bottom: 20px;
  font-size: 15px;
}

.alt-signup:hover {
  text-decoration: underline;
}
