<div class="container-fluid">
    <div class="explore-section">
        <h3>Explore Lorem</h3>
        <ul class="cards-list">
            <li>
                <div class="tag-card">
                    <img src="header.jpg">
                    <h6 class="title">Stays</h6>
                </div>
            </li>
            <li>
                <div class="tag-card">
                    <img src="header.jpg">
                    <h6 class="title">Stays</h6>
                </div>
            </li>
            <li>
                <div class="tag-card">
                    <img src="header.jpg">
                    <h6 class="title">Stays</h6>
                </div>
            </li>
        </ul>
    </div>
    <div class="trips-section">
        <h4>Lorem Ipsum</h4>
        <div>
            <div>
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="search-result">
                            <img src="header.jpg" style="height: 189px">
                            <h6>Lorem Ipsum</h6>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="search-result">
                            <img src="header.jpg" style="height: 189px">
                            <h6>Lorem Ipsum</h6>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="search-result">
                            <img src="header.jpg" style="height: 189px">
                            <h6>Lorem Ipsum</h6>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="search-result">
                            <img src="header.jpg" style="height: 189px">
                            <h6>Lorem Ipsum</h6>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>
