<h1 class="account-page-title">Preferences</h1>
<div class="row">
  <div class="col-md-9 ">
    <div class="account-preferences-item">
      <div class="row">
        <div class="col-md-3 ">
          <h5 class="account-preferences-item-title">Name</h5>
        </div>
        <div class="col-md-6 ">
          <p class="account-preferences-item-value">{{name}}</p>
          <div class="collapse" id="ChangeName">
            <div class="account-preferences-item-change">
              <p class="account-preferences-item-change-description">Name help others to identify you
              </p>
              <div class="form-group account-preferences-item-change-form">
                <label for="NewName">New Name</label>
                <input class="form-control" type="password" id="NewName">
              </div>
              <div class="account-preferences-item-change-actions">
                <a class="btn btn-sm btn-primary">Save changes</a>
                <a class="btn btn-sm btn-default" href="#ChangeName" data-toggle="collapse" aria-expanded="false"
                   aria-controls="ChangePassword">Cancel</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <a class="account-preferences-item-change-link" href="#ChangeName" data-toggle="collapse"
             aria-expanded="false" aria-controls="ChangeName">
            <fa-icon [icon]="editIcon"></fa-icon>
            Edit
          </a>
        </div>
      </div>
    </div>
    <div class="theme-account-preferences">
      <div class="account-preferences-item" *ngIf="isEmail; else phoneNumberBlock">
        <div class="row">
          <div class="col-md-3">
            <h5 class="account-preferences-item-title">Email Address</h5>
          </div>
          <div class="col-md-6">
            <p class="account-preferences-item-value">{{emailAddress}}</p>
            <div class="collapse" id="VerifyEmail">
              <div class="account-preferences-item-change">
                <p class="account-preferences-item-change-description">Email verification is required to perform actions
                </p>
                <p class="account-preferences-item-change-description" [ngStyle]="{display: isDisabled ? '': 'none'}">
                  Resend email in {{timeLeft}}
                </p>
                <div class="account-preferences-item-change-actions">
                  <button class="btn btn-sm btn-primary" (click)="sendEmail()" [disabled]="isDisabled">Verify Email
                  </button>
                  <a class="btn btn-sm btn-default" href="#VerifyEmail" data-toggle="collapse" aria-expanded="false"
                     aria-controls="VerifyEmail">Cancel</a>
                </div>
              </div>
            </div>
          </div>
          <ng-template #emailVerifiedBlock>
            <div class="col-md-3">
              <a class="account-preferences-item-change-link" href="#VerifyEmail" data-toggle="collapse"
                 aria-expanded="false" aria-controls="VerifyEmail">
                <fa-icon [icon]="editIcon"></fa-icon>
                Verify
              </a>
            </div>
          </ng-template>
          <div class="col-md-3" *ngIf="isVerified; else emailVerifiedBlock">
            <a class="account-preferences-item-change-link">
              <fa-icon [icon]="verifiedIcon"></fa-icon>
              Verified
            </a>
          </div>
        </div>
      </div>
      <ng-template #phoneNumberBlock>
        <div class="account-preferences-item">
          <div class="row">
            <div class="col-md-3">
              <h5 class="account-preferences-item-title">Phone Number</h5>
            </div>
            <div class="col-md-6">
              <p class="account-preferences-item-value">{{phoneNumber}}</p>
              <div class="collapse" id="VerifyPhoneNumber">
                <div class="account-preferences-item-change">
                  <p class="account-preferences-item-change-description">Phone verification is required to perform
                    actions
                  </p>
                  <div class="form-group account-preferences-item-change-form">
                    <label for="OTPCode">OTP Code</label>
                    <input class="form-control" type="number" id="OTPCode">
                  </div>
                  <p class="account-preferences-item-change-description"
                     [ngStyle]="{display: isDisabled ? 'none': '', cursor: 'pointer'}"
                     (click)="sendOTP()">
                    Send me a code
                  </p>
                  <p class="account-preferences-item-change-description" [ngStyle]="{display: isDisabled ? '': 'none'}">
                    Resend code in {{timeLeft}}
                  </p>
                  <div class="account-preferences-item-change-actions">
                    <button class="btn btn-sm btn-primary">Verify OTP</button>
                    <a class="btn btn-sm btn-default" href="#VerifyPhoneNumber" data-toggle="collapse"
                       aria-expanded="false"
                       aria-controls="VerifyEmail">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #phoneVerifiedBlock>
              <div class="col-md-3">
                <a class="account-preferences-item-change-link" href="#VerifyPhoneNumber" data-toggle="collapse"
                   aria-expanded="false" aria-controls="VerifyPhoneNumber">
                  <fa-icon [icon]="editIcon"></fa-icon>
                  Verify
                </a>
              </div>
            </ng-template>
            <div class="col-md-3" *ngIf="isVerified; else phoneVerifiedBlock">
              <a class="account-preferences-item-change-link">
                <fa-icon [icon]="verifiedIcon"></fa-icon>
                Verified
              </a>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="account-preferences-item">
        <div class="row">
          <div class="col-md-3 ">
            <h5 class="account-preferences-item-title">Password</h5>
          </div>
          <div class="col-md-6 ">
            <p class="account-preferences-item-value">********</p>
            <div class="collapse" id="ChangePassword">
              <div class="account-preferences-item-change">
                <p class="account-preferences-item-change-description">It's a good idea to use a strong password
                </p>
                <div class="form-group account-preferences-item-change-form">
                  <label for="CurrentPassword">Current Password</label>
                  <input class="form-control" type="password" id="CurrentPassword">
                  <label for="NewPassword">New Password </label>
                  <input class="form-control" type="password" id="NewPassword">
                </div>
                <div class="account-preferences-item-change-actions">
                  <a class="btn btn-sm btn-primary">Save changes</a>
                  <a class="btn btn-sm btn-default" href="#ChangePassword" data-toggle="collapse" aria-expanded="false"
                     aria-controls="ChangePassword">Cancel</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <a class="account-preferences-item-change-link" href="#ChangePassword" data-toggle="collapse"
               aria-expanded="false" aria-controls="ChangePassword">
              <fa-icon [icon]="editIcon"></fa-icon>
              Edit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
