<h1 class="account-page-title">Preferences</h1>
<div class="row">
  <div class="col-md-9 ">
    <div class="theme-account-preferences">
      <div class="account-preferences-item">
        <div class="row">
          <div class="col-md-3">
            <h5 class="account-preferences-item-title">Email Address</h5>
          </div>
          <div class="col-md-7 ">
            <p class="account-preferences-item-value">john_doe772@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="account-preferences-item">
        <div class="row">
          <div class="col-md-3 ">
            <h5 class="account-preferences-item-title">Password</h5>
          </div>
          <div class="col-md-7 ">
            <p class="account-preferences-item-value">********</p>
            <div class="collapse" id="ChangePassword">
              <div class="account-preferences-item-change">
                <p class="account-preferences-item-change-description">It's a good idea to use a strong password
                </p>
                <div class="form-group account-preferences-item-change-form">
                  <label>Current Password</label>
                  <input class="form-control" type="password">
                  <label>New Password </label>
                  <input class="form-control" type="password">
                </div>
                <div class="account-preferences-item-change-actions">
                  <a class="btn btn-sm btn-primary" href="#">Save changes</a>
                  <a class="btn btn-sm btn-default" href="#ChangePassword" data-toggle="collapse" aria-expanded="false"
                     aria-controls="ChangePassword">Cancel</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <a class="account-preferences-item-change-link" href="#ChangePassword" data-toggle="collapse"
               aria-expanded="false" aria-controls="ChangePassword">
              <fa-icon [icon]="pencilIcon"></fa-icon>
              Edit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
