<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-2" id="about-text">
            <h3 class="display-4">About</h3>
            <!--            <p>{{aboutUS.description}}</p>-->
            <p>Tucked away in the Karakorams, lies the Hunza Valley, preserving its culture in its every beating heart.
                The sound of the rhubab, a local instrument, echoes against the Ultar Sar (7,388m), Hunza Peak (6,270m)
                the Lady Finger (6,000m) as the sun rises and sets around Eagles Nest. Each day begins and ends as the
                sky is painted with hues merging and blending harmoniously around Rakaposhi, Spantik and Ultar Sar the
                grand 7000m giants. Brushuski, one of the best known linguistic isolates, is the spoken language of the
                local Brusho people, the personification of the warmest of hosts. The landscape unlike any in the world,
                glistens.The landscape.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <img class="about-img" data-src="{{aboutUS.imageUrl}}" alt=""/>
        </div>
    </div>
</div>
